/* -- @import "config"; -- */

//------------------------- Colors
$black:#111;
$white:#fff;
$red:#c74657;
$blue:#7f9cb4;
$pink: rgb(252,229,239);
$gray-text: rgb(90,87,88);
$gray-bg: #aaa;

$background:#f4f3ee;
$primary-link:#469389;

//------------------------- Elements
$serif:'Cardo', serif;
$sans:'Source Sans Pro', Arial, sans-serif;

//------------------------- Defaulted Mixins
@mixin base-type {
    font-family:$sans;
  	line-height:1.1em;
}

//------------------------- Input Required Mixins
@mixin text-shadow($left, $top, $size, $color) { text-shadow: $left $top $size $color; }
@mixin border-radius($size) { -moz-border-radius: $size; -webkit-border-radius: $size; border-radius: $size; }
@mixin transform($param) { -moz-transform: $param; -webkit-transform: $param; -o-transform: $param; -ms-transform: $param; transform: $param; }

// ------------------------ END CONFIG

html, body {
    background-color:$background;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	@include base-type;
	color:$black;
}

.main {
    margin:auto;
    max-width:920px;
    padding:40px 0;
    overflow:hidden;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.float {float:left;}

h1, h2, h3, h4, h5, h6 {
    font-weight:100;
    margin:0 0 0.5em 0; 
}

h1 { 
    font-size:3.5em; /*40pt*/
    line-height:1em;
        
    .callout {
		font-family: $sans;
		font-style: normal;
        font-weight:700;
        font-size: 1.5em;
        line-height:.75em;
        margin-top:1rem;
    }
} 

h2 { 
	font-family: $sans;
    font-size:1.4em; /*14pt*/
    line-height:1.9em;
	font-weight:700;
	text-transform:uppercase;
    } 
    
h3 { 
    font-size:1.25em; /*12pt*/
    font-style: italic;
    
    a {
        color:$gray-text;
        text-decoration:none;
    }
    
    a:hover {
        text-decoration:underline;
    }
}

p, ul { 
    font-size: 1.1em; /*16pt*/
    line-height:1.325em;
	font-weight:300;
    margin:0.325em 0 1em 0;    
}

hr {
    background-color:$gray-bg;
    border:0;
    height:1px;
    margin: 0.825em 0;
    clear:both;
}

ul {
    margin:0 0 0 20px;
    padding:0;
    li {}
}

article {
    margin:1.125em 0;
}

/*Small screens - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media only screen and (max-width: 480px), print {

    h1 { 
        font-size:1.825em; /*40pt*/
		line-height:1.5rem;
		text-indent:0;
    
        .callout {
            font-size: 1.725em;
			text-indent:0;
        }  
    }
    
    h2 { 
        font-size:1.3em; /*14pt*/
        } 
    
    h3 { 
        font-size:1.125em; /*12pt*/
    }
    
    .main {
        padding:10px 0 40px 0;
    }
    
}

/*Print - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media print {
    hr {
        background-color:none;
        border-top:solid 1px $gray-bg;
        }  
}